<h1>The State Management in angular by NGRX

</h1>
<p>The NGRX state management process is consist on 3 or mixture of the 3 things </p>
<ol>
  <li>State</li>
  <li>Action</li>
  <li>Reducer</li>
</ol>

<h2>The Instalation of the NGRX store </h2>
<p>npm install @ngrx/store</p>
<ul>
  <li>Create the shared servioce and a stor folder wher we add the all files related the stor of the ngrx </li>
  <li>Then create the counter.states.ts , couter.actions.ts and counter.reducers.ts fileas </li>
  <li>wer setup initial setup then</li>
  <li>we need to add thes files refrence into the app.module</li>
  <li></li>
</ul>

<div class="main">
  <app-counterbutton></app-counterbutton>
  <app-customcounter></app-customcounter>
</div>


